<br>
<br>
<mat-card>
  <mat-card-title>Gráfico</mat-card-title>
  <br />

  <mat-card-content>
    <div class="controls">
      <mat-form-field appearance="outline">
        <mat-label>Wx</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="wX"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Wy</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="wY"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>b</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="b"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bias en eje</mat-label>
        <mat-select [(ngModel)]="ejeBias">
        <mat-option value="x">b en X</mat-option>
        <mat-option value="y">b en Y</mat-option>
        </mat-select>
    </mat-form-field>

      <button mat-raised-button color="primary" (click)="onActualizar()">
        Actualizar
      </button>
    </div>

    <div class="status-bar">
      <mat-chip-listbox>
        @if (estadoCalculo === 'separados') {
          <mat-chip>
            Se logró separar (bias en eje {{ ejeBias.toUpperCase() }}) en {{ nroIteraciones }} iteracione(s).
          </mat-chip>
        } @else if (estadoCalculo === 'no_separados') {
          <mat-chip>
            No hay errores pero no se lograron separar con las rectas de bias en {{ nroIteraciones }} iteracione(s).
          </mat-chip>
        } @else if (estadoCalculo === 'alcanzo_limite') {
          <mat-chip>
            No se lograron separar hasta el límite de iteraciones.
          </mat-chip>
        }
      </mat-chip-listbox>
    </div>

    <div class="chart-container">
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        type="scatter">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
