<mat-card>
  <mat-card-title>Perceptrón - Visualizador</mat-card-title>
  <mat-card-subtitle>
    Puntos fijos de ejemplo, puedes jugar con W1, W2 y B.
  </mat-card-subtitle>

  <mat-card-content>
    <div class="controls">
      <mat-form-field appearance="outline">
        <mat-label>WX</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="wX"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>WY</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="wY"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>B</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="b"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bias en eje</mat-label>
        <mat-select [(ngModel)]="ejeBias">
        <mat-option value="x">Usar B en X (B, 0)</mat-option>
        <mat-option value="y">Usar B en Y (0, B)</mat-option>
        </mat-select>
    </mat-form-field>

      <button mat-raised-button color="primary" (click)="onApply()">
        Actualizar
      </button>
    </div>

    <div class="chart-container">
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        type="scatter">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
